@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');



*{
    box-sizing: border-box;
}

body{
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    
}

.quiz-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
    
}

.quiz-header{
    padding: 2rem;
    
}

h2{
    text-align: center;
    
}

ul{
    list-style-type: none;
    padding: 0;
    
}

ul li{
    font-size: 1.2 rem;
    margin: 1 rem 0;
}
 
ul li label{
    cursor: pointer;
}

button{
    background-color: #8e44ad;
    border: none;
    color: white;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1rem;
}

#submit:hover{
    background-color: #732d91;

}

